/backend/nbproject/private/
/backend/dist/
/backend/build/
/api/target/
/serverlet/target/
/platos_backend/nbproject/private/
/platos_backend/build/
/platos_backend/dist/
/serverlet/nbproject/private/
/serverlet/dist/
/serverlet/build/
